"*":
  editor:
    fontFamily: "Inconsolata"
    showInvisibles: true
    showIndentGuide: true
    invisibles: {}
    scrollPastEnd: true
    fontSize: 15
  core:
    themes: [
      "atom-material-ui"
      "neutron-syntax"
    ]
    excludeVcsIgnoredPaths: false
    followSymlinks: false
  "release-notes":
    viewedVersion: "0.94.0"
  welcome:
    showOnStartup: false
  "highlight-column":
    opacity: 0.15
    enableHighlight: false
  "tree-view":
    showOnRightSide: true
  linter:
    lintDebug: true
    showErrorInline: true
    statusBar: "Show all errors"
    showInfoMessages: true
  "autoclose-html": {}
  "autocomplete-plus":
    confirmCompletion: "tab and enter"
  "linter-eslint": {}
  "linter-js-yaml": {}
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "bower_components"
      "build"
      "coverage"
      "docs"
      "node_modules"
    ]
  "atom-material-ui":
    accentColor: "Cyan"
    compactTreeView: true
    depth: true
    disableAnimations: true
